---
layout: blog
---
<section class="mt-15">
    {% set conveningList = collections.convening %}
    {% for convening in conveningList %}
        {% if convening.data.title and convening.data.title | length >= 1 %}
            <article class="my-8 blog-article">
                <div>
                    <h2 class="font-bold text-3xl text-gray-900 mb-2">
                        <a href="{{ convening.url | url }}">
                            {{ convening.data.title }}
                        </a>
                    </h2>
                    {% if convening.data.description %}
                        <p class="text-lg text-gray-500 mb-3">
                            {{ convening.data.description }}
                        </p>
                    {% endif %}
                    <label class="text-base leading-6 text-gray-500 mb-3">
                        <a>by: {{ convening.data.author }}</a>
                    </label>
                </div>
                <a href="{{ convening.url | url }}" class="text-indigo-500 font-bold text-lg">
                    <div>Read →</div>
                </a>
            </article>
        {% endif %}
    {% endfor %}
</section>