#page-container::-webkit-scrollbar {
    width: 0.3em;
}
 
#page-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#page-container::-webkit-scrollbar-thumb {
  background-color: #E45678;
  outline: 1px solid #FBC9DB;
}

body::-webkit-scrollbar {
    width: 0;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #E45678;
  outline: 1px solid #FBC9DB;
}

@media (min-width: 596px) {
    #page-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #E45678;
        background-image: image-set('/static/img/convening/bg1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 90%;
        top: 20;
        bottom: unset;
        right: unset;
        height: 100%;
        /* margin: 4rem 0 10rem 0; */
    }

    .pc {
        display: block;
    }

    .pf {
        margin: 13px;
    }
}

.nav-bar{
    display: none !important;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #E45678;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer{
    display: none;
}

@media (max-width: 595px) {

    body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
    .pc{
        display: unset;
    }
    
    #page-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-image: none;
        background-color: #E45678;
        position: relative;
        bottom: unset;
        right: unset;
        top: 0;
    }

    .pf {
        margin: 0;
        box-shadow: none;
        background-color: #E45678;
    }
}
