#page-container::-webkit-scrollbar {
    width: 0.3em;
}
 
#page-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#page-container::-webkit-scrollbar-thumb {
  background-color: #E45678;
  outline: 1px solid #FBC9DB;
}

@media (min-width: 596px) {
    #page-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #E45678;
        background-image: image-set('/static/img/convening/bg1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 90%;
        top: 0;
        bottom: unset;
        right: unset;
        height: 100%;
    }

    .pc {
        display: block;
    }

    .pf {
        margin: 13px;
    }
}

@media (max-width: 595px) {

    body, html {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
    display: unset;
}
    .pc{
        display: unset;
    }
    
    #page-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-image: none;
        background-color: #E45678;
        position: absolute;
        bottom: unset;
        right: unset;
        top: 1;
    }

    .pf {
        margin: 0;
        box-shadow: none;
        background-color: #E45678;
    }
}
